body{
  margin: 100%;

}
html{
    scroll-behavior: smooth;
}
/* header */
.logo{
  padding-left: 150px;
  min-height:20px;
  padding-top: 30px;
}

#home-section{
    background-image: url("../images/home.jpg") !important;
    background-repeat: no-repeat ;
    background-size: cover !important ;
    background: fixed;
    min-height:700px;
}    
.home-inner{
  padding-top: 150px;
}
.card-form{
  opacity:0.8;
}
.card{
border-radius:10px !important;
}


.fa-bullhorn{
background-color: #009961;
display: inline-flex;
align-items: center;
justify-content: center;
margin-bottom: 15px;
padding:25px;
width: 70px;
height: 70px;
border-radius: 999px;
font-size: 70px;
background-color: rgba(5, 213, 97, 0.15);
color: #222;
}
.field-icon{
position: absolute !important;
padding: 25px;
margin-left: -150px;
color: #222;
size: 2px;

}
.form-control{
background-color: rgb(235, 235, 235) !important;
}
.text{
color: #fff;
}
.text1{
  font-family:"Titillium Web", "Almarai", sans-serif;
  font-size: 25px;
}
/* color */
.equal-height {
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 12px;
  transition: transform 0.5s, 
}

.equal-height i {
  font-size: 40px;
  margin-bottom: 10px;
  color:  #0262328f;
}

.equal-height h5 {
  font-weight: 600;
  margin-bottom: 8px;
}

.equal-height:hover {
  background:#009961;
  transform: scale(1.05);
}

/* about */
.about{
  padding-bottom: 30px;
}

.about img{
  border-radius: 2px  !important;

}

.about .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #d0ecf9;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color:#009961;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background:#08e494;
  border-color: #19ff71;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #009961;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

.about .video-box {
  background: url("../images/about.jpg") ;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 200px;
  border-radius: 12px;
  min-height: 500px;

}

@media (min-width: 1200px) {
  .about .video-box {
    margin-left: 15px;
    margin-right: -15px;
  }
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#009961 50%, rgba(0, 153, 97, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid  #009961;
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid #009961;
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
/* Counts */
#counts .count-box {

  width: 100%;
  height: 50%;
  text-align: center;
  font-size: 30px;
}
.counter-count{
  color: #171717;
  font-size: 30px;
  font-family: "Raleway", sans-serif;

}
.counts{
  background-image:url(../images/counts-bg.jpg);

 
}
.con{
  margin-bottom: 10px;
  color: #3b4e06;
}
.con i{
  font-size: 2px !important;
  margin-bottom: 10px;
}
.con1{
  font-size: 40px;
}
.lead1{
  font-size: 15px;
}
/* Pricing */
section.pricing {
  background:#e3e3f2;
  background: linear-gradient(to right,#f0f0f4,#fbfbfb);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px ;
  border-color: #121313;
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(16, 144, 84, 0.3) !important;
  }

  .pricing .card:hover .btn {
      opacity: 1;
  }
}

/* testimonals */
.testimonials
{
  padding: 40px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;

}

.testimonial-inner
{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.row
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col
{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing:  border-box;
  padding: 15px;
}  

.testimonial
{
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 22px;
  outline-style: outset;
  outline-color: rgba(16, 234, 129, 0.785);
}

.testimonial img
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}

.name
{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

.stars
{
  color: #f0932b;
  margin-bottom: 20px;
}

@media screen and (max-width: 960px)
{
  .col
  {
    flex: 100%;
    max-width: 80%;
  }
}
/* logo slider's */
.slide img {
  width: 100px;
  height: 100px;

  animation: scroll 60s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.slider {
  margin-top: 70px;
  background-color: rgb(17, 211, 94);
  margin-top:1px;
  padding: 8em 2em;
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-1000%)}
}
/* Footer */
/* Footer */
.footer-newsletter{
  background-image: url(../images/footer.jpg) !important;
  background-repeat: no-repeat ;
  background-size: cover !important ;
  background: fixed;
  min-height:200px;
}
.footer-newsletter .btn{
  margin: 40px;
}
.small{
  padding: 20px 20px ;
}
#footer .footer-newsletter {
  padding: 50px 0;
  background: #f1f6fe;
  text-align:left ;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}
/* footer icon */
.copy{
  text-align: center;
  background-color: #fbfbff,#ffff;
}


.copyright-area{
  background: #f7f5f5;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #09e071;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}